h1 {
    color : red;

}
#heading-2{
    color:blue;
}

.head1{
    color: aqua;
}
.Para{
    border: 2px;
    border-color: black;
    border-style: solid;
    padding: 20px;
    text-align: center;
}